html {
    font-size: calc(30% + 0.2vw);
}
header {
    min-height: 6rem;
}
header .header-navigation .left-side {
    justify-content: center;
}
.first-section {
    height: 90vh;
}
.location-section {
    height: 100vh;
    background-position: right;
}
.cloud {
  width: 80%;
}

.contact .contact-wrapper {
    min-width: 90vw;
    min-height: 45vh;
}