* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: headFont;
  src: url(../fonts/Ephesis-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Italic.ttf);
  font-style: italic, oblique;
}
@font-face {
  font-family: paprika;
  src: url(../fonts/Paprika-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}


h1 {
    font-size: 3rem;
    font-family: headFont, sans-serif;
}
h2 {
  font-size: 3.5rem;
  font-family: Merriweather, sans-serif;
}
h3 {
  font-size: 2.5rem;
  font-family: paprika, sans-serif;
}
h4, h5 {
  font-size: 2rem;
  font-family: Merriweather, sans-serif;
}
p{
  font-size: 1.6rem;
  font-family: paprika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
  padding: 1rem;
  background-color: #142713;
}

.main-header .header-navigation {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0rem auto;
}

.main-header .header-navigation .left-side {
  flex: 2 1 40rem;
  display: flex;
  align-items: center;
}
.main-header .header-navigation .left-side h1 {
  display: flex;
  align-items: center;
}
.main-header .header-navigation .left-side h1 a img {
  max-width: 4rem;
  max-height: 7rem;
}
.main-header .header-navigation .left-side h1 a{
  text-decoration: none;
  color: white;
  margin: 0rem 0.5rem;
}
.main-header .header-navigation .left-side h1:hover{
  text-shadow: 0rem 0rem 0.5rem white;
}
.main-header .header-navigation .right-side {
  flex: 1 1 40rem;
}
.main-header .header-navigation .right-side ul{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.main-header .header-navigation .right-side ul li a {
  font-family: Merriweather;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #2D4219, #5B9321, #2D4219);
  background-repeat: no-repeat;
  background-position-x: -100rem;
  padding: 0.5rem 1rem;
  display: inline-flex;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.main-header .header-navigation .right-side ul li a:hover{
  color: white;
  text-shadow: 0rem 0rem 0.5rem rgb(255, 239, 96);
  background-position-x: 0rem;
}

main .first-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6),transparent), url("../img/pexels-luis-del-río-15286.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.5rem white;
  color: white;
}
main .first-section h3 {
  margin: 3.5rem auto;
  text-shadow: 0rem 0rem 0.2rem white;
}

main .first-section button {
  padding: 1rem 4rem;
  background: #349655;
  border: none;
  color: white;
  font-family: Merriweather;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

main .first-section button:hover {
  background-color: #349655aa;
  color: #ffffffaa;
}

.location-section {
  min-height: 100vh;
  background: linear-gradient(#00000077,transparent), url("../img/new-york-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.location-head {
  text-align: center;
  padding:10% ;
}
.location-head h2 {
  text-decoration: underline;
  padding: 3rem 0rem;
}
.location-head h2:hover {
  background-position: 0rem 0rem;
}
.location-head h4 {
  background: radial-gradient(#77251e, #206877, #20776b);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.cloud {
  pointer-events: none;
  width: 60%;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.moving-cloud-1 {
  animation: cloudAnimation 4s ease-in-out;
  -webkit-animation: cloudAnimation 4s ease-in-out;
}

.moving-cloud-2 {
  animation: cloudAnimation 3s ease-in-out;
  -webkit-animation: cloudAnimation 3s ease-in-out;
  z-index: -1;
  top: 10rem;
}

main .benefits {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(128, 128, 128, 0.5),transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.benefits header {
  width: 100%;
  flex-basis: 10rem;
  min-height: 20rem;
  background: url("../img/in\ focus.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.benefits header h2 {
  text-shadow: 0.2rem 0.2rem 0.5rem white;
  color: black;
}
.benefits .cards {
  display: flex;
  flex-direction: column;
  min-width: 95%;
  margin: 0rem auto;
}
.benefits .cards .card-gang {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 3rem;
}
.benefits .cards .card-gang .card  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1 1 46%;
  margin: 1rem 2rem;
}
.benefits .cards .card-gang .card .image {
  flex: 1 1 20rem;
  width: 20vw;
  max-height: 40vh;
  box-shadow: 0rem 0rem 0.2rem black, 0rem 0rem 2rem black;
}
.benefits .cards .card-gang .card-1 .image {
  background: url("../img/pexels-pixabay-235615.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.benefits .cards .card-gang .card-2 .image {
  background: url("../img/pexels-singkham-1108572.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.benefits .cards .card-gang .card-3 .image {
  background: url("../img/pexels-pixabay-33044.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.benefits .cards .card-gang .card-4 .image {
  background: url("../img/pexels-skitterphoto-9198.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
.benefits .cards .card-gang .card .content {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
}
.benefits .cards .card-gang .card .content .item-title {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 2px solid #555;
}
.benefits .cards .card-gang .card .content .item-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.4rem;
}
.benefits .cards .card-gang .card .content .item-links a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  flex: 1 1 5rem;
  text-decoration: none;
  color: black;
  font-family: paprika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
.benefits .cards .card-gang .card .content .item-links a:hover{
  text-shadow: 0.1rem 0.1rem 0.3rem black;
}




@keyframes cloudAnimation{
  from{
    transform: translate(10%, -20%)  ;
    -webkit-transform: translate(10%, -20%)  ;
    -moz-transform: translate(10%, -20%)  ;
    -ms-transform: translate(10%, -20%)  ;
    -o-transform: translate(10%, -20%)  ;
}
  to {
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
}
}