* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: headFont;
  src: url(../fonts/Ephesis-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Italic.ttf);
  font-style: italic, oblique;
}
@font-face {
  font-family: paprika;
  src: url(../fonts/Paprika-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}


h1 {
    font-size: 3rem;
    font-family: headFont, sans-serif;
}
h2 {
  font-size: 3.5rem;
  font-family: Merriweather, sans-serif;
}
h3 {
  font-size: 2.5rem;
  font-family: paprika, sans-serif;
}
h4, h5 {
  font-size: 2rem;
  font-family: Merriweather, sans-serif;
}
p{
  font-size: 1.6rem;
  font-family: paprika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 1rem;
  background-color: #142713;
}

header .header-navigation {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0rem auto;
}

header .header-navigation .left-side {
  flex: 2 1 40rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .header-navigation .left-side h1 {
  display: flex;
  align-items: center;
}
header .header-navigation .left-side h1 a img {
  max-width: 4rem;
  max-height: 7rem;
}
header .header-navigation .left-side h1 a{
  text-decoration: none;
  color: white;
  margin: 0rem 0.5rem;
}
header .header-navigation .left-side h1:hover{
  text-shadow: 0rem 0rem 0.5rem white;
}
header .header-navigation .right-side {
  flex: 1 1 40rem;
}
header .header-navigation .right-side ul{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .header-navigation .right-side ul li a {
  font-family: Merriweather;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
header .header-navigation .right-side ul li a:hover{
  text-shadow: 0rem 0rem 0.5rem white;
}

main .first-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6),transparent), url("../img/pexels-luis-del-río-15286.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.5rem white;
  color: white;
}
main .first-section h3 {
  margin: 3.5rem auto;
  text-shadow: 0rem 0rem 0.2rem white;
}

main .first-section button {
  padding: 1rem 4rem;
  background: #349655;
  border: none;
  color: white;
  font-family: Merriweather;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

main .first-section button:hover {
  background-color: #349655aa;
  color: #ffffffaa;
}