html {
    font-size: calc(30% + 0.3vw);
}
header {
    min-height: 6rem;
}
header .header-navigation .left-side {
    justify-content: flex-start;
    align-items: center;
}
.first-section {
    max-height: 90vh;
    background-position: bottom;
}
.location-section  {
    height: 100vh;
}
main .benefits {
    height: fit-content;
}
.benefits .cards .card-gang{
    align-items: center;
    flex-basis: 30vh;
    margin-top: 3rem;
}
.benefits .cards .card-gang .card .image {
    flex-basis: 25vw;

}

.contact .contact-wrapper {
    min-width: 80vw;
    min-height: 55vh;
}